:80 {
    handle /.well-known/webfinger {
        reverse_proxy localhost:2344
    }

    handle {
        reverse_proxy localhost:1030
    }
}

:443 {
    handle /.well-known/webfinger {
        reverse_proxy localhost:1001
    }
    handle {
        reverse_proxy localhost:1030
    }
}