:80 {
    handle /.well-known/webfinger {
        reverse_proxy localhost:2380
    }

    handle {
        reverse_proxy localhost:2480
    }
}

:443 {
    handle /.well-known/webfinger {
        reverse_proxy localhost:2343
    }
}