services:
  all-in-one:
    init: true
    container_name: nextcloud-aio-mastercontainer
    restart: always
    ports:
      - 2287:8080
    environment:
      - SKIP_DOMAIN_VALIDATION=true
    volumes:
      - nextcloud_aio_mastercontainer:/mnt/docker-aio-config
      - /var/run/docker.sock:/var/run/docker.sock:ro
    image: nextcloud/all-in-one:latest
volumes:
  nextcloud_aio_mastercontainer:
    name: nextcloud_aio_mastercontainer
    driver: local
    driver_opts:
      o: bind
      type: none
      device: /mnt/big-drive/nextcloud
