services:
  all-in-one:
    init: true
    container_name: nextcloud-aio-mastercontainer
    restart: always
    environment:
      - APACHE_PORT=2287
      - APACHE_IP_BINDING=0.0.0.0
      - SKIP_DOMAIN_VALIDATION=true
    volumes:
      - /mnt/big-drive/nextcloud:/mnt/docker-aio-config
      - /var/run/docker.sock:/var/run/docker.sock:ro
    image: nextcloud/all-in-one:latest
